<div class="row">
    <div class="col-md-2 col-sm-12 col-12 align-self-center" (drop)="uploadinsuredByDD($event)"
    (dragover)="allowDrop($event)">

        <!-- <div class="row centercss p-1 upload-option" >
            <div class="col-md-6 col-sm-6 col-6 custom-cursor" (click)="uploadinsured($event)">
                <img src="./assets/motor/insurer-details/drag-drop.fw.png" class="pl-1" />
                <p class="f8 mb-0 pt-2">{{ 'DragAndUpload' | translate }}</p>
                <input (change)="onSelectFile($event.target.files)" type="file" id="insuredTrigger"
                    style="display: none;" />
            </div>
            <div class="col-md-6 col-sm-6 col-6 border-left custom-cursor py-0 pl-2 pr-1">
                <img (click)="openDialog()" src="./assets/motor/insurer-details/camera.png" class="pl-3" />
                <p class="f8 mb-0">{{ 'ClickAndUpload' | translate }}</p>
            </div>
        </div> -->


    </div>
    <form [formGroup]="insurerForm" class="col-md-8 col-sm-12" autocomplete="off">
        <div class="row ">
            <div class="col-md-4 col-sm-6 ">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'EmiratesIDLabel' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'PlaceHolder.EmiratesID' | translate }}"
                        formControlName="personalId" required maxlength="15" NumbersOnly>
                    <mat-error *ngIf="insurerForm.controls.personalId.hasError('required')">
                        {{ 'Required.EmiratesID' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row" style="margin-left: 15px;">
            <div>
                <mat-form-field style="width: 71px;" appearance="outline">
                    <mat-label>{{'Prefix' | translate}}</mat-label>
                        <mat-select formControlName="prefix">
                                <mat-option *ngFor="let prefix of options.prefix"
                                        [value]="prefix.value"> {{ prefix.label}}
                                </mat-option>
                        </mat-select>
                        <mat-error *ngIf="insurerForm.controls.prefix.hasError('required')">
                            {{ 'Required.Prefix' | translate }}
                        </mat-error>
                </mat-form-field>
        </div>
            <div class="col-md-9 col-sm-6 " style="padding-left: 3px;">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'InsuredNameLabel' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'PlaceHolder.InsuredName' | translate }}" formControlName="fullName"
                        required AlphabetOnly>
                    <mat-error *ngIf="insurerForm.controls.fullName.hasError('required')">
                        {{ 'Required.InsuredName' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-6">    
                <mat-form-field appearance="outline">
                    <mat-label>{{'Gender' | translate}}</mat-label>
                    <mat-select required formControlName="gender" (ngModelChange)="onGenderChange($event)">
                        <mat-option *ngFor="let gender of options.gender" [value]="gender.value">
                            {{ gender.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="insurerForm.controls.gender.hasError('required')">
                        {{'Required.Gender' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-6">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'Dob' | translate }}</mat-label>
                    <input matInput [owlDateTime]="dobdp" [owlDateTimeTrigger]="dobdp" [max]="maxDate"
                        placeholder="{{ 'PlaceHolder.Dob' | translate }}" formControlName="dob" required
                        AutoDateFormat>
                    <owl-date-time [pickerType]="'calendar'" #dobdp></owl-date-time>
                    <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="dobdp">date_range</mat-icon>
                    <mat-error *ngIf="insurerForm.controls.dob.hasError('required')">{{ 'Required.Dob' | translate }}
                    </mat-error>
                    <!-- <mat-error *ngIf="insurerForm.controls.dob.hasError
                        ('younger')">{{ 'DobFormat' | translate }}
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="col-md-2 col-sm-12 col-12 align-self-center">
        <!-- <div class="row" *ngIf="frontUrl || backUrl;else EmptyTemplate">
            <p class="f10 border-bottom">{{ 'UploadedEmiratesCard' | translate }}</p>
            <div *ngIf="frontUrl!=''" class="m-1 img_wrp">
                <mat-icon class="close" (click)="closefunc('frontUrl')">
                    close
                </mat-icon>
                <img height=60 width=100 [src]="frontUrl" alt="" />
            </div>
            <div *ngIf="backUrl!=''" class="m-1 img_wrp">
                <mat-icon class="close" (click)="closefunc('backUrl')">
                    close
                </mat-icon>
                <img height=60 width=100 [src]="backUrl" alt="" />
            </div>
        </div>
        <ng-template #EmptyTemplate>
            <p class="f12">{{ 'NoDocs' | translate }}</p>
        </ng-template> -->
    </div>
</div>