<div class="row m-0 p-0">
    <div class="col-md-10 col-9">
        <h5 style="display: flex;align-content: center;">{{title}}</h5>
    </div>
    <div class="col-md-2 col-3 custom-cursor" (click)="onNoClick()">
        <mat-icon>
            close
        </mat-icon>
    </div>
</div>
<mat-divider></mat-divider>


<mat-horizontal-stepper class="m-3" linear #stepper>
    <mat-step>
        <div>
            <div *ngIf="!showCapturedImage">
                <div class="d-flex justify-content-center m-1">
                    <webcam [height]="300" [width]="400" [trigger]="triggerObservable"
                        [allowCameraSwitch]="allowCameraSwitch" (imageCapture)="handleFrontSideImage($event)">
                    </webcam>
                </div>
                <div class="d-flex justify-content-center m-1">
                    <button type="submit" (click)="triggerSnapshot(true)"
                        class="col-md-6 col-sm-12 col-xs-12 col-12 btn blockbutton btn-block bggreen fwhite button">
                        {{ 'TakeSnapshot' | translate }}
                    </button>
                </div>
            </div>
            <div *ngIf="showCapturedImage">
                <div class="d-flex justify-content-center m-1 img-box img_wrp">
                    <mat-icon class="close" (click)="triggerSnapshot(false)">
                        close
                    </mat-icon>
                    <img [src]="frontSide?.imageAsDataUrl" />
                </div>
                <mat-divider></mat-divider>
                <div class="d-flex justify-content-end pt-1">
                    <button mat-button matStepperNext
                        class="btn btn-home button fwhite bggreen centercss">PROCEED</button>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <div>
            <div *ngIf="!showCamera2 && !go2">
                <p style="text-align: center;">
                    Do you want to upload back side of the Document?
                </p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-home button fwhite bggreen centercss"
                    (click)="uploadDocs()" matStepperNext>NO</button>
                <button mat-button (click)="uploadBackSide()"
                    class="btn btn-home button fwhite bggreen centercss ml-2">YES</button>
                </div>
            </div>
            <div *ngIf="showCamera2">
                <div class="d-flex justify-content-center m-1">
                <webcam [height]="300" [width]="400" [trigger]="triggerObservable"
                    [allowCameraSwitch]="allowCameraSwitch" (imageCapture)="handleBackSideImage($event)">
                </webcam>
            </div>
                <div class="d-flex justify-content-center m-1">
                    <button type="submit" (click)="triggerSnapshot2(true)"
                        class="col-md-6 col-sm-12 col-xs-12 col-12 btn blockbutton btn-block bggreen fwhite button">
                        {{ 'TakeSnapshot' | translate }}
                    </button>
                </div>
            </div>
            <div *ngIf="showCapturedImage2">
                <div class="d-flex justify-content-center m-1 img-box img_wrp">
                    <mat-icon class="close" (click)="triggerSnapshot2(false)">
                        close
                    </mat-icon>
                    <img [src]="backSide?.imageAsDataUrl" />
                </div>
            <mat-divider></mat-divider>
            <div class="d-flex justify-content-between">
                <button mat-button matStepperPrevious class="btn btn-home button fwhite bggreen centercss">REVISE</button>
                <button mat-button (click)="uploadDocs()"
                    class="btn btn-home button fwhite bggreen centercss">UPLOAD</button>
            </div>
        </div>
        </div>
    </mat-step>
    <!-- <mat-step>
        <div>
            <div class="d-flex justify-content-center m-1 img-box img_wrp">
                <mat-icon class="close" (click)="closefunc()">
                    close
                </mat-icon>
                <img [src]="reviewImage" />
            </div>
        </div>
        <div>
            <mat-divider></mat-divider>
            <div class="d-flex justify-content-between">
                <button mat-button matStepperPrevious class="btn btn-home button fwhite bggreen centercss">REVISE</button>
                <button mat-button matStepperNext (click)="uploadDocs()"
                    class="btn btn-home button fwhite bggreen centercss">UPLOAD</button>
            </div>
        </div>
    </mat-step> -->
</mat-horizontal-stepper>