.upload-option {
  border: 2px dotted rgba(0, 0, 0, 0.089);
}

.border-left {
  border-left-style: solid;
  border-right-color: #ff7f00;
  border-left-width: medium;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: medium;
}

button:hover {
  color: white;
}

.img_wrp {
  display: inline-block;
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

.ngx-gauge-meter {
  font-family: none !important;
}