<div class="row">
    <div class="col-md-2 col-sm-12 col-12  align-self-center">
        <!-- <div class="row centercss p-1 upload-option">
            <div class="col-md-6 col-sm-6 col-6 custom-cursor" (dragover)="dragOverItem($event)"
                (drop)="dropItem($event)">
                <img (click)="uploadTrigger.click()" src="./assets/motor/insurer-details/drag-drop.fw.png"
                    class="pl-1" />
                <p class="f8 mb-0 pt-2">{{ 'DragAndUpload' | translate }}</p>
                <input (change)="onSelectFile($event.target.files)" type="file" #uploadTrigger style="display: none;" />
            </div>
            <div class="col-md-6 col-sm-6 col-6 border-left custom-cursor py-0 pl-2 pr-1">
                <img (click)="openDialog()" src="./assets/motor/insurer-details/camera.png" class="pl-3" />
                <p class="f8 mb-0">{{ 'ClickAndUpload' | translate }}</p>
            </div>
        </div> -->
    </div>
    <form id="form" [formGroup]="vehicleForm" focusInvalidInput autocomplete="off"
        class="row col-md-8 col-sm-12 m-0 p-0">
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'ChassisNoLabel' | translate }}</mat-label>
                <input matInput placeholder="{{ 'PlaceHolder.ChassisNumber' | translate }}" formControlName="chassisNo"
                    [AlphaNumericOnly]="true" uppercase required>
                <mat-error *ngIf="vehicleForm.controls.chassisNo.hasError('required')">
                    {{ 'Required.ChassisNo' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'MakeLabel' | translate }}</mat-label>
                <mat-select formControlName="makeId" required [disabled]="vehicleDetails['disableFields']"
                    (ngModelChange)="loadVehicleDropDowns('makeId', 'model', $event)">
                    <mat-option *ngFor="let make of options.make" [value]="make.value">
                        {{make.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('makeId').invalid">{{ 'Required.Make' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'ModelLabel' | translate }}</mat-label>
                <mat-select formControlName="modelId" required
                    (ngModelChange)="loadVehicleDropDowns('modelId', 'type', $event)">
                    <mat-option *ngFor="let model of options.model" [value]="model.value">
                        {{model.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('modelId').invalid">{{ 'Required.Model' | translate }}</mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'MakeYear' | translate }}</mat-label>
                <mat-select formControlName="makeYear" [disabled]="vehicleDetails['disableFields']" required
                    (ngModelChange)="setRepairTypeAndRegType($event)">
                    <mat-option *ngFor="let year of options.regYear" [value]="year.value">
                        {{year.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.controls.makeYear.hasError('required')">
                    {{ 'Required.MakeYear' | translate }}
                </mat-error>
                <!-- <mat-error *ngIf="vehicleForm.controls.makeYear.hasError('oldVehcle')">
                    {{ 'Required.MakeYearOld' | translate }}
                </mat-error> -->
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'Trim' | translate }}</mat-label>
                <mat-select formControlName="trim" required (selectionChange)="trimChanged($event)">
                    <mat-option *ngFor="let trim of options.trim" [value]="trim.value">
                        {{trim.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.controls.trim.hasError('required')">{{ 'Required.Trim' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'TypeLabel' | translate }}</mat-label>
                <mat-select formControlName="vehicleTypeId" required [disabled]="vehicleDetails['disableFields']">
                    <mat-option *ngFor="let type of options.type" [value]="type.value">
                        {{type.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('vehicleTypeId').invalid">{{ 'Required.Type' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <!-- <div class="col-md-4 col-sm-6" *ngIf="!vehicleDetails['disableVehicleValue']">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'VehicleValueLabel' | translate }}</mat-label>
                <input matInput placeholder="{{ 'PlaceHolder.VehicleValue' | translate }}" maxlength="6"
                    formControlName="vehicleValue" required NumbersOnly currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.',  precision: 0, align: 'left' }">
                <mat-hint *ngIf="maxVehicleValue !=0">{{'MaximumVehicleValue' | translate}}
                    {{maxVehicleValue | number: '1.0-0'}}</mat-hint>
                <mat-error *ngIf="vehicleForm.controls.vehicleValue.hasError('required')">
                    {{ 'Required.VehicleValue' | translate }}
                </mat-error>
                <mat-error *ngIf="vehicleForm.controls.vehicleValue.hasError('max')">
                    {{ 'VehicleValueMax' | translate }}
                </mat-error>
                <mat-error *ngIf="vehicleForm.controls.vehicleValue.hasError('min')">
                    {{ 'VehicleValueMin' | translate }}
                </mat-error>
            </mat-form-field>
        </div> -->
        <!-- <div class="col-md-4 col-sm-6">
            <mat-slider style="width: 278px;"
            [max]="vehicleValueSliderMax"
            [min]="vehicleValueSliderMin"
            value="vehicleValueSlider"
            (change)="changeSliderValue($event)">
        </mat-slider>
        </div> -->
        <div class="col-md-4 col-sm-6 disable-cursor">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'VehicleUsageLabel' | translate }}</mat-label>
                <mat-select formControlName="usage" required disabled>
                    <mat-option *ngFor="let usage of options.usageType" [value]="usage.value">
                        {{usage.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('usage').invalid">{{ 'Required.UsageType' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6" *ngIf="!vehicleDetails['disableRepairType']"
            [ngClass]="{'disable-cursor':disableRepairType}">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'RepairType' | translate }}</mat-label>
                <mat-select formControlName="repairType" required [disabled]="disableRepairType">
                    <mat-option *ngFor="let repairType of options.repairType" [value]="repairType.value">
                        {{repairType.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('repairType').invalid">{{ 'Required.RepairType' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'NoOfPassengersInclDriver' | translate }}</mat-label>
                <input matInput placeholder="{{ 'PlaceHolder.NoOfPassengers' | translate }}"
                    formControlName="noOfPassengers" required NumbersOnly maxlength="2">
                <mat-error *ngIf="vehicleForm.get('noOfPassengers').invalid">
                    {{ 'Required.NoOfPassengers' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'RegisteredAt' | translate }}</mat-label>
                <mat-select formControlName="registeredAt" required (selectionChange)="registeredAtChange($event)">
                    <mat-option *ngFor="let registeredAt of options.registeredAt" [value]="registeredAt.value">
                        {{registeredAt.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('registeredAt').invalid">{{ 'Required.RegisteredAt' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'TcNo' | translate }}</mat-label>
                <input matInput placeholder="{{ 'PlaceHolder.TcNo' | translate }}" formControlName="tcFileNumber"
                    required NumbersOnly [maxlength]="tcNoLength">
                <mat-error *ngIf="vehicleForm.controls.tcFileNumber.hasError('required')">
                    {{ 'Required.TcNo' | translate }}
                </mat-error>
                <mat-error
                    *ngIf="vehicleForm.controls.tcFileNumber.hasError('minlength') || vehicleForm.controls.tcFileNumber.hasError('maxlength')">
                    {{ 'Invalid.TcNo' | translate }} {{tcNoLength}} {{'Invalid.Digits' | translate}}
                </mat-error>
                <mat-hint class="fbold">{{ 'TcNoHints' | translate }}</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'RegistrationType' | translate }}</mat-label>
                <mat-select formControlName="regStatus" required (ngModelChange)="setPrevPolicyExpDate($event, null)">
                    <mat-option *ngFor="let regStatus of options.regStatus" [value]="regStatus.value">
                        {{regStatus.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('regStatus').invalid">{{ 'Required.RegistrationType' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-4 col-sm-6" *ngIf="vehicleForm.value.regStatus == '03'">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'RegisteredDate' | translate }}</mat-label>
                <input matInput [owlDateTime]="registeredDate" [owlDateTimeTrigger]="registeredDate"
                    placeholder="{{ 'PlaceHolder.PrevPolExpiryDate' | translate }}" formControlName="registeredDate"
                    required AutoDateFormat />
                <owl-date-time [pickerType]="'calendar'" #registeredDate></owl-date-time>
                <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="registeredDate">
                    date_range</mat-icon>
                <mat-error *ngIf="vehicleForm.get('registeredDate').invalid">{{ 'Required.RegisteredDate' | translate }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-4 col-sm-6" *ngIf="vehicleForm.value.regStatus == '03'">
            <mat-form-field appearance="outline">
                <mat-label>{{'PrevPolExpiryDate'| translate }}</mat-label>
                <input matInput [owlDateTime]="expDate" [owlDateTimeTrigger]="expDate"
                    placeholder="{{ 'PlaceHolder.PrevPolExpiryDate' | translate }}" formControlName="prevPolicyExpDate"
                    required AutoDateFormat />
                <owl-date-time [pickerType]="'calendar'" #expDate></owl-date-time>
                <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="expDate">
                    date_range</mat-icon>
                <mat-error *ngIf="vehicleForm.controls.prevPolicyExpDate.hasError('required')">
                    {{'Required.PrevPolExpiryDate'| translate }}
                </mat-error>
                <mat-error *ngIf="vehicleForm.controls.prevPolicyExpDate.hasError('younger')">
                    {{ 'Invalid.PolicyExpDate' | translate }}
                </mat-error>
                <mat-error *ngIf="vehicleForm.controls.prevPolicyExpDate.hasError('moreThan60Days')">
                    {{ 'Invalid.PolicyExpDateMorethan60' | translate }}
                </mat-error>
            </mat-form-field>
        </div>


        <div class="col-md-4 col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'NCDLabel' | translate }}</mat-label>
                <mat-select formControlName="ncdYears">
                    <mat-option *ngFor="let type of options.ncdYears" [value]="type.value">
                        {{type.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row col-md-4 col-sm-6 align-items-center" *ngIf="!vehicleDetails['disableVehicleValue']">
            <div class="pl-2">
                <div class="pl-2 fbold">{{ 'VehicleValueLabel' | translate }}</div>
            <ngx-gauge [type]="gaugeType" 
            [value]="gaugeValue"
            [min]="minValue"
            [max]="maxValue"
            [size]="100">
 </ngx-gauge>
</div>
<div class="pl-2">
 <input type="range"  [min]="minValue" [max]="maxValue" formControlName="vehicleValue"
  step="1" class="slider"  (input)="gaugeChange($event)">
</div>
    </div>



    </form>
    <div class="col-md-2 col-sm-12 col-12 align-self-center">
        <!-- <div class="row justify-content-center p-3" *ngIf="frontUrl || backUrl; else EmptyTemplate">
            <p class="f10 border-bottom">{{ 'UploadedMulkiyaCard' | translate }}</p>
            <div *ngIf="frontUrl!=''" class="m-1 img_wrp">
                <mat-icon class="close" (click)="closefunc('frontUrl')">
                    close
                </mat-icon>
                <img height=60 width=120 [src]="frontUrl" alt="" />
            </div>
            <div *ngIf="backUrl!=''" class="m-1 img_wrp">
                <mat-icon class="close" (click)="closefunc('backUrl')">
                    close
                </mat-icon>
                <img height=60 width=120 [src]="backUrl" alt="" />
            </div>
        </div>
        <ng-template #EmptyTemplate>
            <p class="f12">{{ 'NoDocs' | translate }}</p>
        </ng-template> -->
    </div>
</div>