.success-content {
    margin-top: 1%;
    margin-left: 0%;
    text-align: center;
}

.bg-color {
    background-color: #32ba7c;
    color: white;
    border-radius: 50%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.fullwidth {
    display: inline-block;
    width: 100%;
}

.columns {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.ensucessalign {
    margin: 10px;
}

.arsuccessalign {
    margin: 10px;
}