<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="{ ennavbg:language=='en',arnavbg :language=='ar'}">
    <img src="./assets/home/AFNIC_Logo2.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" [ngClass]="{'ml-auto' :language=='en','mr-auto' :language=='ar'}">
            <ul style="min-width: 100px;" class="navbar-nav  custom-cursor" [ngClass]="{'ml-auto' :language=='en','mr-auto' :language=='ar'}" [matMenuTriggerFor]="languageMenu" *ngIf="runtimeConfigService.config.enableLanguageChange">
                <div *ngIf="selectedLanguage" style=" border: 2px solid white;display: flex; justify-content: space-around;padding:5px;">

                    <button class="nav-item navlist  my-auto" mat-icon-button>
        <img src="assets/sharedimg/english.png" style="height: 18px;width: 28px;">
      </button>
                    <span style="margin-top: 07px;color:white;font-size: 18px;">EN</span>

                </div>
                <div *ngIf="!selectedLanguage" style=" border: 2px solid white;display: flex; justify-content: space-around;padding:5px;">

                    <button class="nav-item navlist  my-auto" mat-icon-button>
        <img src="assets/sharedimg/arabic.png" style="height: 18px;width: 28px;">
      </button>
                    <span style="margin-top: 07px;color:white;font-size: 18px;">AR</span>

                </div>
            </ul>

            <ul class="navbar-nav" [ngClass]="{'ml-auto' :language=='en','mr-auto' :language=='ar'}">
                <li (click)="navPages(menu.value)" *ngFor="let menu of menus" class="nav-item navlist p-2 my-auto">
                    {{ menu.label }}</li>
            </ul>
            <ul style="min-width: 100px;" *ngIf="userType=='true'" class="navbar-nav custom-cursor" [matMenuTriggerFor]="menu">
                <div class="mx-1" [ngClass]="{alignrtl:language=='en',alignltr :language=='ar'}">
                    <p class="mb-0">{{ 'Hello' | translate }} <span class="mb-0">{{username}}</span></p>

                </div>
                <button class="nav-item navlist  mx-auto" mat-icon-button>
          <img src="assets/profile.jpg" style="height: 36px;width: 36px;border-radius: 50%;">
        </button>
            </ul>

            <mat-menu #languageMenu="matMenu">
                <div mat-menu-item (click)="changeLanguage('en')" class="col-md-12 col-12">
                    <img src="assets/sharedimg/english.png" style="height: 18px;width: 28px;"> English
                </div>
                <div mat-menu-item (click)="changeLanguage('ar')" class="col-md-12 col-12">
                    <img src="assets/sharedimg/arabic.png" style="height: 18px;width: 28px;"> Arabic
                </div>
            </mat-menu>

            <mat-menu #menu="matMenu">
                <div mat-menu-item (click)="navPages('/User/dashboard')" class="col-md-12 col-12">
                    {{'Dashboard'| translate}}
                </div>
                <div mat-menu-item (click)="navPages('/User/profile')" class="col-md-12 col-12">
                    {{'UpdateMyInfo' | translate}}
                </div>
                <div mat-menu-item (click)="navPages('/User/changepassword')" class="col-md-12 col-12">
                    {{'ChangePassword' | translate }}
                </div>
                <div (click)="LogOut()" mat-menu-item class="col-md-12 col-12">
                    {{'Logout' | translate}}
                </div>
            </mat-menu>
        </ul>

    </div>
</nav>