<div class="container " style="overflow-x: hidden;">


    <div class="row d-flex justify-content-center mt-2 pr-4 pl-4 ">

        <mat-card class="row col-md-8 col-sm-12" tabindex="-1" style="background-color: #80bbac;">
            <div class="row p-1" >
                <div class="col-md-4 fbold">Product Type: Full Insurance</div>
                <div class="col-md-4 fbold">Mobile No: 058 - 2302547</div>
                <div class="col-md-4 fbold">Email: afnicae@afnic.com</div>
            </div>
        </mat-card>

    </div>

    <div class="d-flex justify-content-center  mt-3" style="font-size: 26px;font-family: LatoLight!important;">
        Lets start building your quote, provide your vehicle details
        <!-- 1 more step to go, enter your Vehicle details -->
    </div>

    <div class="row d-flex justify-content-center mt-2">

        <div class="row col-md-8 col-sm-12 m-0 p-0">


            <div style="margin-top: 3px;" class="col-md-5 col-sm-6 col-12 border-block">

                <div  class="d-flex justify-content-center mb-1" style="height: 52px;">
                    <img src="./assets/new-screen/chassis-blue.png" />
                    <!-- <img src="./assets/new-screen/chassis-green.png" /> -->
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Search by Chassis Number</mat-label>
                    <input matInput placeholder="Enter Chassis Number" [AlphaNumericOnly]="true" uppercase
                        autocomplete="off">
                    <mat-icon matSuffix class="custom-cursor">search</mat-icon>
                    <mat-hint>Chassis Number should be 15 digits</mat-hint>
                </mat-form-field>

            </div>


            <div class="col-md-7 col-sm-6 col-12 ">

                <div class="d-flex justify-content-center mb-1">
                    <img src="./assets/new-screen/car-blue.png" />
                    <!-- <img src="./assets/new-screen/car-green.png" /> -->
                </div>
                <ng-select style=" text-align: center;" bindLabel="label" class="custom"
                    placeholder="Search by Vehicle Details" (change)="onchangeLoadDropdown()" appendTo="body"
                    (clear)="reset()" [(ngModel)]="selected" [searchable]="true" maxSelectedItems="3" [clearable]="true"
                    appendTo="body" multiple="true">
                    <ng-option [value]="item" *ngFor="let item of items">
                        {{item.label}}
                    </ng-option>
                </ng-select>
            </div>
        </div>

    </div>


    <div class="row d-flex justify-content-center" *ngIf="showgrid && !showInfo">

        <mat-card class="row col-md-8 col-sm-6 col-12 ">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Trim</th>
                        <th>Select One</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trim of options.trim">
                        <td>{{gridDetail[0].label}}</td>
                        <td>{{gridDetail[1].label}}</td>
                        <td>{{gridDetail[2].label}}</td>

                        <td>{{trim.label}}</td>
                        <td>
                            <input type="radio" id="{{trim.value}}" name="drone" value="{{trim.value}}">
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="row d-flex justify-content-center">

                <button (click)="submitgrid()" class=" pr-3 btn button btn-default bggreen fwhite">Submit</button>
            </div>

        </mat-card>

    </div>



    <div *ngIf="showInfo" class="m-0 p-0">



        <div class="row mx-2 my-2">

            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
            <div class="fwhite   comp-header col-md-2 col-sm-4 col-12">
                <label class="label-pad f12 fw900">Vehicle Information</label>
            </div>
            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
        </div>

        <div class="row d-flex justify-content-center">

            <form id="form" [formGroup]="vehicleForm" focusInvalidInput autocomplete="off"
                class="row col-md-8 col-sm-12 m-0 p-0">
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'ChassisNoLabel' | translate }}</mat-label>
                        <input readonly matInput placeholder="{{ 'PlaceHolder.ChassisNumber' | translate }}"
                            formControlName="chassisNo" [AlphaNumericOnly]="true" uppercase required>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'MakeLabel' | translate }}</mat-label>
                        <mat-select formControlName="makeId" required>
                            <mat-option *ngFor="let make of options.make" [value]="make.value">
                                {{make.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'ModelLabel' | translate }}</mat-label>
                        <mat-select formControlName="modelId" required>
                            <mat-option *ngFor="let model of options.model" [value]="model.value">
                                {{model.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'MakeYear' | translate }}</mat-label>
                        <mat-select formControlName="makeYear" required>
                            <mat-option *ngFor="let year of options.regYear" [value]="year.value">
                                {{year.label}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'Trim' | translate }}</mat-label>
                        <mat-select formControlName="trim" required>
                            <mat-option *ngFor="let trim of options.trim" [value]="trim.value">
                                {{trim.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'VehicleValueLabel' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'PlaceHolder.VehicleValue' | translate }}" maxlength="6"
                            formControlName="vehicleValue" required currencyMask
                            [options]="{ prefix: '', thousands: ',', decimal: '.',  precision: 0, align: 'left' }">

                    </mat-form-field>
                </div>


                <div class="col-md-4 col-sm-6 ">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'VehicleUsageLabel' | translate }}</mat-label>
                        <mat-select formControlName="usage" required>
                            <mat-option *ngFor="let usage of options.usageType" [value]="usage.value">
                                {{usage.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'RepairType' | translate }}</mat-label>
                        <mat-select formControlName="repairType" required>
                            <mat-option *ngFor="let repairType of options.repairType" [value]="repairType.value">
                                {{repairType.label}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'NoOfPassengersInclDriver' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'PlaceHolder.NoOfPassengers' | translate }}"
                            formControlName="noOfPassengers" required NumbersOnly maxlength="2">
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'RegisteredAt' | translate }}</mat-label>
                        <mat-select formControlName="registeredAt" required
                            (selectionChange)="registeredAtChange($event)">
                            <mat-option *ngFor="let registeredAt of options.registeredAt" [value]="registeredAt.value">
                                {{registeredAt.label}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'TcNo' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'PlaceHolder.TcNo' | translate }}"
                            formControlName="tcFileNumber" required NumbersOnly [maxlength]="tcNoLength">

                        <mat-hint class="fbold">TC no. as per mulkiya.</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'RegistrationType' | translate }}</mat-label>
                        <mat-select formControlName="regStatus" required>
                            <mat-option *ngFor="let regStatus of options.regStatus" [value]="regStatus.value">
                                {{regStatus.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>





                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'NCDLabel' | translate }}</mat-label>
                        <mat-select formControlName="ncdYears">
                            <mat-option *ngFor="let type of options.ncdYears" [value]="type.value">
                                {{type.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>License Issue Date</mat-label>
                        <input matInput [owlDateTime]="dp1" [owlDateTimeTrigger]="dp1" placeholder="License Issue Date"
                            formControlName="licenseissueDate" required AutoDateFormat>
                        <owl-date-time [pickerType]="'calendar'" #dp1></owl-date-time>
                        <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="dp1">date_range</mat-icon>
                    </mat-form-field>
                </div>
            </form>

        </div>


        <div class="row mx-2 my-2">

            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
            <div class="fwhite   comp-header col-md-2 col-sm-4 col-12">
                <label class="label-pad f12 fw900">Insured Information</label>
            </div>
            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <form id="form1" [formGroup]="insuredForm" class="row col-md-8 col-sm-12 m-0 p-0" focusInvalidInput
                autocomplete="off">
                <div class="col-md-8 col-sm-6">
                    <div class="row ">
                        <mat-form-field class="col-md-3 col-sm-4" style="width: 71px;" appearance="outline">
                            <mat-label>{{'Prefix' | translate}}</mat-label>
                            <mat-select formControlName="prefix">
                                <mat-option *ngFor="let prefix of options.prefix" [value]="prefix.value">
                                    {{ prefix.label}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-md-9 col-sm-8" appearance="outline">
                            <mat-label>{{ 'InsuredNameLabel' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'PlaceHolder.InsuredName' | translate }}"
                                formControlName="fullName" required AlphabetOnly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'Dob' | translate }}</mat-label>
                        <input matInput [owlDateTime]="dobdp" [owlDateTimeTrigger]="dobdp" [max]="maxDate"
                            placeholder="{{ 'PlaceHolder.Dob' | translate }}" formControlName="dob" required
                            AutoDateFormat>
                        <owl-date-time [pickerType]="'calendar'" #dobdp></owl-date-time>
                        <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="dobdp">date_range</mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </div>



        <div class="row d-flex justify-content-center">
            <div style="padding-left: 15px;padding-right: 15px;" class="col-md-8 col-sm-12 m-0">
                <div class="d-flex justify-content-between">
                    <button (click)="routerBack()" class=" pr-3 btn button btn-default bggreen fwhite">
                        <i class="fa fa-arrow-left"></i>
                        Back</button>
                    <button class=" pr-3 btn button btn-default bggreen fwhite">
                        Continue
                        <i class="fa fa-arrow-right"></i>

                    </button>

                </div>

            </div>
        </div>


    </div>
</div>


<div class="d-flex" class="footer">
    <div>
        <span style="float:left">
            Copyright © Beyontec 2019. All rights reserved.
        </span>
        <span style="float:right; margin-right: 15px;">
            Call 800 Afnic any Time for Assistance
        </span>
    </div>
</div>