<!-- Main Section -->
<!-- <mat-drawer-container [class.drawer-opened]="drawer.opened" class="example-container">
    <mat-drawer style="width: 80%;" #drawer class="drawer" mode="over">

        <mat-toolbar class="header">
            <div class="row">
                <div class="col-xs-10 col-xs-10">Trim Details</div>
                <div class="col-xs-2 col-2">
                    <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
                </div>

            </div>

        </mat-toolbar>
        <div class="contents">
            <div class="row ">
                <div class="col-6">
                    <h5>Year</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.makeYear?.label}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>Make</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.make?.label}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>Model</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.model?.label}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>No of Cylinders</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.noOfCylinders}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>No of Seats</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.noOfSeats}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>No of Doors</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.noOfDoors}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>Engine Size</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.engineSize}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h5>Trim</h5>
                </div>
                <div class="col-6">
                    <h5>{{selectedData?.trim}}</h5>
                </div>
            </div>
        </div>
    </mat-drawer> -->


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="curve-btn custom-bg fwhite fbold centercss col-md-3">Product Type: {{basicUserDetails?.productTypeName}}
        </div>
        <div class="curve-btn custom-bg fwhite fbold centercss col-md-3">Mobile No: {{basicUserDetails?.mobileCode}} - {{basicUserDetails?.mobileNo}}
        </div>
        <div class="curve-btn custom-bg fwhite fbold centercss col-md-3">Email: {{basicUserDetails?.email}}</div>
    </div>
    <div class="d-flex justify-content-center mt-3 f24">
        <p>{{runtimeConfigService.config.heading}}</p>
    </div>
    <div class="row d-flex justify-content-center my-2">
        <div class="border-block col-md-4">
            <div class="d-flex justify-content-center mb-2">
                <img src="./assets/new-screen/chassis-blue.png" style="height: 48px;" />
            </div>
            <form [formGroup]="chassisNoForm" focusInvalidInput autocomplete="off" class="row">
                <div class="col-md-10 col-sm-10 col-xs-10 col-10">
                    <mat-form-field appearance="outline">
                        <mat-label>Search by Chassis Number</mat-label>
                        <input matInput placeholder="Enter Chassis Number" [AlphaNumericOnly]="true" class="tansformToUpper" autocomplete="off" formControlName="chassisNo" (focus)="onEnterChassisField()">
                        <!-- <mat-icon matSuffix class="custom-cursor" (click)="getAutoData()">search</mat-icon> -->
                        <mat-hint>Chassis Number should be minimum of 15 digits</mat-hint>
                        <mat-error *ngIf="formCtrl.chassisNo.errors && formCtrl.chassisNo.errors.minlength">
                            Chassis Number should be minimum of 15 digits
                        </mat-error>
                        <mat-error *ngIf="formCtrl.chassisNo.errors && formCtrl.chassisNo.errors.required">
                            Chassis Number is required
                        </mat-error>
                        <mat-error *ngIf="invalidChassisNo && formCtrl.chassisNo.errors">
                            {{ 'Invalid.ChassisNumber' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2 px-0 col-sm-2 col-xs-2 col-2 ">
                    <button mat-mini-fab color="primary" (click)="getAutoData('')">
                            <mat-icon [ngStyle]="{'color':'white'}">search</mat-icon>
                        </button>
                </div>
            </form>

        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center" style="margin-bottom: 12px;">
                <img src="./assets/new-screen/car-blue.png" />
            </div>
            <div>
                <ng-select style=" text-align: center;" bindLabel="label" class="custom" placeholder="Search by Vehicle Details" appendTo="body" [(ngModel)]="selected" [searchable]="true" maxSelectedItems="3" appendTo="body" multiple="true" (change)="onchangeLoadDropdown()"
                    (clear)="resetDropDown()" [items]="items" [clearOnBackspace]="false" [isOpen]="openDropDown" (focus)="enableDropDown()" (blur)="ngSelectBlur()" (remove)="deSelectedItem($event)">
                    <!-- <ng-option [value]="item" *ngFor="let item of items">
                        {{item.label}}
                    </ng-option> -->
                </ng-select>
            </div>
        </div>
    </div>

    <!-- Grid Section -->
    <div class="row d-flex justify-content-center my-3" *ngIf="!showForm && showGrid">
        <mat-card class="row col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr style="text-align: center;">
                        <th>Model</th>
                        <th class=" d-none d-sm-table-cell">No of Cylinders</th>
                        <th class=" d-none d-sm-table-cell">No of Seats</th>
                        <th class=" d-none d-sm-table-cell">No of Doors</th>
                        <th class=" d-none d-sm-table-cell">Engine Size</th>
                        <th class=" d-none d-sm-table-cell">Hp</th>
                        <th class=" d-none d-sm-table-cell">Transmission</th>
                        <th>Trim</th>
                        <th class="d-table-cell d-sm-none"></th>
                        <th>Select One</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of autoData;let i = index;trackBy: trackByFn" style="text-align: center;">

                        <td>{{data.model.label}}</td>
                        <td class="d-none d-sm-table-cell">{{data.noOfCylinders}}</td>
                        <td class="d-none d-sm-table-cell">{{data.noOfSeats}}</td>
                        <td class="d-none d-sm-table-cell">{{data.noOfDoors}}</td>
                        <td class="d-none d-sm-table-cell">{{data.engineSize}}</td>
                        <td class="d-none d-sm-table-cell">{{data.hp}}</td>
                        <td class="d-none d-sm-table-cell">{{data.transmission}}</td>
                        <td #trimValue>{{data.trim}}</td>
                        <td class="d-table-cell d-sm-none">
                            <mat-icon (click)="trimDisplayMobile(i);openBottomSheet()">remove_red_eye
                            </mat-icon>
                        </td>
                        <td>
                            <input type="radio" id="{{data.trim}}" name="drone" value="{{i}}" (change)="trimChanged($event)">
                        </td>
                    </tr>
                </tbody>

            </table>

            <div class="row d-flex justify-content-center">
                <button [disabled]="enableGridBtn" (click)="submitGrid()" class="pr-3 btn button btn-default bggreen fwhite">Submit</button>
            </div>
        </mat-card>
    </div>

    <!-- Form Section -->
    <div class="m-0 p-0" *ngIf="showForm">
        <!-- Vehicle Section -->
        <div class="row mx-2 my-2">

            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
            <div class="fwhite  comp-header col-md-2 col-sm-4 col-12">
                <label class="label-pad f12 fw900">Vehicle Information</label>
            </div>
            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <form id="form" [formGroup]="vehicleForm" focusInvalidInput autocomplete="off" class="row col-md-10 col-sm-12 m-0 p-0">
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'ChassisNoLabel' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'PlaceHolder.ChassisNumber' | translate }}" formControlName="chassisNo" [AlphaNumericOnly]="true" class="tansformToUpper" required appAutofocus>
                        <mat-error *ngIf="vehicleForm.controls.chassisNo.hasError('required')">
                            {{ 'Required.ChassisNo' | translate }}
                        </mat-error>
                        <mat-error *ngIf="vehicleForm.controls.chassisNo.hasError('minlength')">
                            Chassis Number should be minimum of 15 digits
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'MakeLabel' | translate }}</mat-label>
                        <mat-select formControlName="makeId" required>
                            <mat-option *ngFor="let make of options.make;trackBy: trackByFn" [value]="make.value">
                                {{make.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="vehicleForm.controls.makeId.hasError('required')">
                            {{ 'Required.Make' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'ModelLabel' | translate }}</mat-label>
                        <mat-select formControlName="modelId" required>
                            <mat-option *ngFor="let model of options.model;trackBy: trackByFn" [value]="model.value">
                                {{model.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="vehicleForm.controls.modelId.hasError('required')">
                            {{ 'Required.Model' | translate }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'MakeYear' | translate }}</mat-label>
                        <mat-select formControlName="makeYear" required>
                            <mat-option *ngFor="let year of options.regYear;trackBy: trackByFn" [value]="year.value">
                                {{year.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="vehicleForm.controls.makeYear.hasError('required')">
                            {{ 'Required.MakeYear' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'Trim' | translate }}</mat-label>
                        <input matInput formControlName="trim" required>
                        <mat-error *ngIf="vehicleForm.controls.trim.hasError('required')">
                            {{ 'Required.Trim' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'VehicleUsageLabel' | translate }}</mat-label>
                        <mat-select formControlName="usage" required>
                            <mat-option *ngFor="let usage of options.usageType;trackBy: trackByFn" [value]="usage.value">
                                {{usage.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="vehicleForm.controls.usage.hasError('required')">
                            {{ 'Required.UsageType' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6" *ngIf="productId === '1113'">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'RepairType' | translate }}</mat-label>
                        <mat-select formControlName="repairType" required>
                            <mat-option *ngFor="let repairType of options.repairType;trackBy: trackByFn" [value]="repairType.value">
                                {{repairType.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="vehicleForm.controls.repairType.hasError('required')">
                            {{ 'Required.RepairType' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'NoOfPassengersInclDriver' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'PlaceHolder.NoOfPassengers' | translate }}" formControlName="noOfPassengers" required NumbersOnly maxlength="2">
                        <mat-error *ngIf="vehicleForm.controls.noOfPassengers.hasError('required')">
                            {{ 'Required.NoOfPassengers' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'RegisteredAt' | translate }}</mat-label>
                        <mat-select formControlName="registeredAt" required (selectionChange)="registeredAtChange($event.value)">
                            <mat-option *ngFor="let registeredAt of options.registeredAt | orderBy:'label';trackBy: trackByFn" [value]="registeredAt.value">
                                {{registeredAt.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="vehicleForm.controls.registeredAt.hasError('required')">
                            {{ 'Required.RegisteredAt' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'TcNo' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'PlaceHolder.TcNo' | translate }}" formControlName="tcFileNumber" required NumbersOnly [maxlength]="tcNoLength" (focus)="checkTCNumber()">
                        <mat-error *ngIf="vehicleForm.controls.tcFileNumber.hasError('required')">
                            {{ 'Required.TcNo' | translate }}
                        </mat-error>
                        <mat-error *ngIf="vehicleForm.controls.tcFileNumber.hasError('minlength') || vehicleForm.controls.tcFileNumber.hasError('maxlength')">
                            {{ 'Invalid.TcNo' | translate }} {{tcNoLength}} {{'Invalid.Digits' | translate}}
                        </mat-error>
                        <mat-hint class="fbold">TC no. as per mulkiya.</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'RegistrationType' | translate }}</mat-label>
                        <mat-select formControlName="regStatus" required (selectionChange)="regTypeChange($event.value)">
                            <mat-option *ngFor="let regStatus of options.regStatus;trackBy: trackByFn" [value]="regStatus.value">
                                {{regStatus.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="vehicleForm.controls.regStatus.hasError('required')">
                            {{ 'Required.RegistrationType' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6" *ngIf="vehicleForm.value.regStatus == '03'">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'RegisteredDate' | translate }}</mat-label>
                        <input matInput [owlDateTime]="registeredDate" [owlDateTimeTrigger]="registeredDate" placeholder="{{ 'PlaceHolder.RegisteredDate' | translate }}" formControlName="registeredDate" [max]="today" required AutoDateFormat/>
                        <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" #registeredDate></owl-date-time>
                        <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="registeredDate">
                            date_range</mat-icon>
                        <mat-error *ngIf="vehicleForm.controls.registeredDate.hasError('required')">
                            {{ 'Required.RegisteredDate' | translate }}
                        </mat-error>
                        <mat-error *ngIf="vehicleForm.controls.registeredDate.hasError('owlDateTimeMax')">
                            {{ 'Invalid.RegisteredDate' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6" *ngIf="vehicleForm.value.regStatus == '03'">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'PrevPolExpiryDate'| translate }}</mat-label>
                        <input matInput [owlDateTime]="expDate" [owlDateTimeTrigger]="expDate" placeholder="{{ 'PlaceHolder.PrevPolExpiryDate' | translate }}" formControlName="prevPolicyExpDate" required AutoDateFormat />
                        <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" #expDate></owl-date-time>
                        <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="expDate">
                            date_range</mat-icon>
                        <mat-error *ngIf="vehicleForm.controls.prevPolicyExpDate.hasError('required')">
                            {{'Required.PrevPolExpiryDate'| translate }}
                        </mat-error>
                        <mat-error *ngIf="vehicleForm.controls.prevPolicyExpDate.hasError('younger')">
                            {{ 'Invalid.PolicyExpDate' | translate }}
                        </mat-error>
                        <mat-error *ngIf="vehicleForm.controls.prevPolicyExpDate.hasError('moreThan60Days')">
                            {{ 'Invalid.PolicyExpDateMorethan60' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'NCDLabel' | translate }}</mat-label>
                        <mat-select formControlName="ncdYears">
                            <mat-option *ngFor="let type of options.ncdYears;trackBy: trackByFn" [value]="type.value">
                                {{type.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'LicenseIssuedDate' | translate }}</mat-label>
                        <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{ 'PlaceHolder.LicenseIssueDate' | translate }}" formControlName="licenseIssueDate" required AutoDateFormat [min]="minIssueDate" [max]="today" />
                        <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" #dt1></owl-date-time>
                        <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="dt1">date_range</mat-icon>
                        <mat-error *ngIf="vehicleForm.controls.licenseIssueDate.hasError('required')">
                            {{ 'Required.LicenseIssueDate' | translate }}</mat-error>
                        <mat-error *ngIf="vehicleForm.controls.licenseIssueDate.hasError('owlDateTimeMin')">
                            {{ 'Invalid.LicenseIssueDate' | translate }}</mat-error>
                        <mat-error *ngIf="vehicleForm.controls.licenseIssueDate.hasError('owlDateTimeMax')">
                            {{ 'Invalid.FutureDate' | translate }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="row col-md-12 col-sm-6 align-items-center mt-2" *ngIf="productId === '1113'">
                    <div class="pl-2 col-12 col-xs-12 col-sm-12 col-md-3">
                        <div class="pl-2 fbold">{{ 'VehicleValueLabel' | translate }}</div>
                        <!-- <div class="pl-2 fbold">{{ 'VehicleValueLabel' | translate }} <i class="fa fa-info-circle fa-2x mt-n4 text-success" placement="right" ngbTooltip="Vehicle value shown is based on UAE Market Value. If you feel the value is not as per your expectation kindly contact us on 800AFNIC(23642) or email us to callcentre@fujinsco.ae" -->
                        <!-- aria-hidden="true"></i> -->
                        <!-- </div> -->
                        <ngx-gauge [type]="gaugeType" [value]="gaugeValue" [min]="minValue" [max]="maxValue" [size]="100">
                        </ngx-gauge>
                    </div>
                    <div class="pl-2 col-12 col-xs-12 col-sm-12 col-md-9">
                        <!-- <div class="pb-4 fbold align-items-justify">* Vehicle value shown is based on UAE Market Value. If you feel the value is not as per your expectation kindly contact us on 800AFNIC(23642) or email us to callcentre@fujinsco.ae</div> -->
                        <input type="range" [min]="minValue" [max]="maxValue" formControlName="vehicleValue" [value]="vehicleValue" step="100" class="slider" (input)="gaugeChange()">
                    </div>
                </div>
            </form>
        </div>
        <!-- Insured Section -->
        <div class="row mx-2 my-2">

            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
            <div class="fwhite   comp-header col-md-2 col-sm-4 col-12">
                <label class="label-pad f12 fw900">Insured Information</label>
            </div>
            <div class="zero-pad col-md-5 col-sm-4 col-0">
                <hr class="horizontal-line" />
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <form id="form1" [formGroup]="insuredForm" class="row col-md-10 col-sm-12 m-0 p-0" focusInvalidInput autocomplete="off">
                <div class="col-md-8 col-sm-6">
                    <div class="row ">
                        <mat-form-field class="col-lg-3 col-md-4 col-sm-4 col-xs-3 col-3 pr-1" style="width: 71px;" appearance="outline">
                            <mat-label>{{'Prefix' | translate}}</mat-label>
                            <mat-select formControlName="prefix">
                                <mat-option *ngFor="let prefix of options.prefix;trackBy: trackByFn" [value]="prefix.value">
                                    {{ prefix.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="insuredForm.controls.prefix.hasError('required')">
                                {{ 'Required.Prefix' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-9 col-md-8 col-sm-8 col-xs-9 col-9 pl-0" appearance="outline">
                            <mat-label>{{ 'InsuredNameLabel' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'PlaceHolder.InsuredName' | translate }}" formControlName="fullName" required AlphabetOnly>
                            <mat-error *ngIf="insuredForm.controls.fullName.hasError('required')">
                                {{ 'Required.InsuredName' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'Dob' | translate }}</mat-label>
                        <input matInput [owlDateTime]="dobdp" [owlDateTimeTrigger]="dobdp" placeholder="{{ 'PlaceHolder.Dob' | translate }}" formControlName="dob" required AutoDateFormat [max]="dobVDate" [min]="dobMinVDate">
                        <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" #dobdp></owl-date-time>
                        <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="dobdp">date_range</mat-icon>
                        <mat-error *ngIf="insuredForm.controls.dob.hasError('required')">
                            {{ 'Required.Dob' | translate }}
                        </mat-error>
                        <mat-error *ngIf="insuredForm.controls.dob.hasError('owlDateTimeMax')">
                            {{ 'Required.DobFormat' | translate }}
                        </mat-error>
                        <mat-error *ngIf="insuredForm.controls.dob.hasError('owlDateTimeMin')">
                            {{ 'Required.DobFormatMin' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>

    <!-- Navigation Section -->
    <div class="row d-flex justify-content-center mb-4">
        <div style="padding-left: 15px;padding-right: 15px;" class="col-md-10 col-sm-12 m-0">
            <div class="d-flex justify-content-between">
                <button (click)="goBack()" class=" pr-3 btn button btn-default bggreen fwhite">
                        <i class="fa fa-arrow-left"></i>
                        Back</button>
                <button [disabled]="enableContinue" class="pr-3 btn button btn-default bggreen fwhite" (click)="getPlans()">
                        Continue
                        <i class="fa fa-arrow-right"></i>
                    </button>
            </div>
        </div>
    </div>
</div>
<!-- </mat-drawer-container> -->