<div class="row loginBg">
    <div class="d-flex flex-column-reverse col-md-8 app-highlight loginimage">

        <mat-card class="fwhite" style="background-color: rgba(0, 119, 89, 0.9);">
            <h3 class="centertext m-1">{{'Welcome' | translate }}</h3>
            <h3 class="centertext m-1">{{'CompanyType' | translate }}</h3>
            <hr class="custom-hr" />
            <div class="f18 centertext">
                <a style="color: white;" [routerLink]="['/home']">
                    {{'ClickHere' | translate }} </a>
            </div>
        </mat-card>

    </div>

    <div class="col-md-4 form-container centercss" id="loginForm" *ngIf="showTab =='Login'">


        <div class="login-form">

            <div class="mx-auto img-container">
                <img src="./assets/home/AFNIC_Logo.png" alt="" />
            </div>


            <div class="f20">{{'LoginTo' | translate }}</div>
            <form class="pt-4" [formGroup]="LoginForm" focusInvalidInput autocomplete="off">
                <mat-form-field appearance="outline">
                    <mat-label>{{'UsernameLabel' | translate }}</mat-label>
                    <input matInput placeholder="{{'PlaceHolder.Username' | translate }}" formControlName="userName">
                    <mat-icon matSuffix>perm_identity &nbsp;&nbsp;</mat-icon>

                    <mat-error *ngIf="LoginForm.controls.userName.hasError('required')">
                        {{'Required.Username' | translate }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'PasswordLabel' | translate }}</mat-label>
                    <input matInput id="myInput" type="password" placeholder="{{'PlaceHolder.Password' | translate }}"
                        formControlName="password">
                    <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput')">visibility &nbsp;&nbsp;
                    </mat-icon>
                    <mat-error *ngIf="LoginForm.controls.password.hasError('required')">
                        {{'Required.Password' | translate }}
                    </mat-error>
                </mat-form-field>

                    <div class="g-recaptcha" data-sitekey="6Le6DqsZAAAAACW2N0MCaGcN0puUMygxPj8OiTcA"></div>
                
                <div class="mb-2 ml-1" (click)="ForgotNavigate()">
                    <a class="f14 textGreen" >{{'ForgotPassword' | translate }}</a>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-block  bggreen fwhite button roundedbtn"
                        (click)="submitForm()">{{'Login' | translate }}</button>
                </div>
            </form>
            <hr />


            <!-- <div class="help-area mt-4">
                <pre><span class="f14">{{'AfnicCustomer' | translate }} </span><a class="f14 textGreen" (click)="changeForm('signup')">{{'CreateAcc' | translate }}</a></pre>
            </div> -->
        </div>
    </div>


    <div class="col-md-4 form-container centercss" id="signupForm" *ngIf="showTab =='resetPassword'">
        <div class=" signup-form">
            <div class="mx-auto img-container">
                <img src="./assets/home/AFNIC_Logo.png" alt="" />
            </div>
            <div class="row">


                <form *ngIf="!showPassword" class="pt-4" [formGroup]="OtpForm" focusInvalidInput autocomplete="off">

                    <div class="centertext fgreen p-1" style="background-color: #D3D3D3;">
                        <div >We've sent you an OTP. Check your email and enter below
                        </div>
                    </div>

                    <mat-form-field class="mt-2" appearance="outline">
                        <mat-label>{{'Otp' | translate }}</mat-label>
                        <input id="myInput" type="password" matInput placeholder="Enter OTP"
                            formControlName="otp">
                        <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput')">visibility
                            &nbsp;&nbsp;
                        </mat-icon>

                        <mat-error *ngIf="OtpForm.controls.otp.hasError('required')">
                            {{'Required.Otp' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <div class="d-flex justify-content-between">
                    <div>OTP Expires in {{minutes}}m:{{seconds}}s</div>
                </div>
                    




                    <div class="d-flex flex-row-reverse mt-2">
                        <button *ngIf="!showPassword" (click)="getOtp()" type="submit" class="btn  bggreen fwhite button roundedbtn">Resend OTP?</button>
                        <button (click)="submitOtpForm()" type="submit"
                            class="mr-1 btn bggreen fwhite button roundedbtn">{{'Submit' | translate }}</button>
                    </div>



                </form>



                <form *ngIf="showPassword" class="pt-4" [formGroup]="PasswordForm" focusInvalidInput autocomplete="off">

                    <mat-form-field appearance="outline">
                        <mat-label>{{'Username' | translate }}</mat-label>
                        <input matInput formControlName="userName">
                        <mat-error *ngIf="PasswordForm.controls.userName.hasError('required')">
                            {{'Required.userName' | translate }}
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="mt-2" appearance="outline">
                        <mat-label>{{'PasswordLabel' | translate }}</mat-label>
                        <input id="myInput" type="password" matInput placeholder="Enter Password"
                            formControlName="password">
                        <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput')">visibility
                            &nbsp;&nbsp;
                        </mat-icon>

                        <mat-error *ngIf="PasswordForm.controls.password.hasError('required')">
                            {{'Required.Password' | translate }}
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="mt-2" appearance="outline">
                        <mat-label>{{'ConfirmPasswordLabel' | translate }}</mat-label>
                        <input id="myInput1" type="password" matInput placeholder="Enter Confirm Password"
                            formControlName="confirmPassword">
                        <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput1')">visibility
                            &nbsp;&nbsp;
                        </mat-icon>

                        <mat-error *ngIf="PasswordForm.controls.confirmPassword.hasError('required')">
                            {{'Required.ConfirmPassword' | translate }}
                        </mat-error>


                        <mat-error *ngIf="PasswordForm.controls.confirmPassword.hasError('passwordsNotMatch')">
                            Password does not match
                        </mat-error>
                    </mat-form-field>


                    <div class="d-flex justify-content-center mt-2">
                        <button (click)="resetPwd()" type="submit"
                            class="btn  bggreen fwhite button roundedbtn">{{'Submit' | translate }}</button>
                    </div>
                </form>
            </div>
            <br>
            <div class="row">
                <ul>
                    <li *ngFor="let List of PwdSopList;let i=index">
                        {{List}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4 form-container centercss" id="passwordForgotForm" *ngIf="showTab =='forgotPwd'">
        <div class="login-form">
            <div class="mx-auto img-container">
                <img src="./assets/home/AFNIC_Logo.png" alt="" />
            </div>
            <div *ngIf="!isResetLinkSend">
            <div class="f20">{{'ResetPassword' | translate }}</div>
            <form class="customform pt-4" [formGroup]="ForgotForm" focusInvalidInput autocomplete="off"> 
                <mat-form-field appearance="outline">
                    <mat-label>{{'EmailLabel' | translate }}</mat-label>
                    <input matInput placeholder="{{'PlaceHolder.Email' | translate }}" formControlName="email" #emaild>
                    <mat-icon matSuffix>email &nbsp;&nbsp; </mat-icon>
                    <mat-error
                        *ngIf="ForgotForm.controls.email.errors && ForgotForm.controls.email.hasError('required')">
                        {{'Required.Email' | translate }}
                    </mat-error>
                    <mat-error *ngIf="ForgotForm.controls.email.errors && ForgotForm.controls.email.errors.email">
                        {{'EmailFormat' | translate }}</mat-error>
                </mat-form-field>
                <div class="d-flex justify-content-center">
                    <button (click)="forgotPwd(emaild,username)" type="submit"
                        class="btn btn-block  bggreen fwhite button roundedbtn">{{ 'RESET' | translate }}</button>
                </div>
            </form>
        </div>
        <div *ngIf="isResetLinkSend">
            <div style="text-align: center;">
                <p>
                    We've sent an email to {{email}}. Click the link in the email to reset your password.
                </p>
                <a [routerLink]="['/Login']">Go Back to Login</a>
            </div>
        </div>
            <div>

            </div>
        </div>
    </div>


</div>