<ngx-spinner></ngx-spinner>

<app-header (languageInfoEmitter)="bodyStyleChange($event)"></app-header>
<div style="min-height: 83vh;">
    <router-outlet></router-outlet>
</div>
<!-- Footer Section -->
<div class="d-flex" class="footer">
    <div class="d-flex justify-content-between">
        <div class="ml-1">
            Copyright &copy; AFNIC | Powered by Beyontec
        </div>
        <div class="mr-1">
            CALL 800 AFNIC or email us to : callcenter@fujinsco.ae
        </div>
    </div>
</div>