<ngx-spinner></ngx-spinner>

<app-header (languageInfoEmitter)="bodyStyleChange($event)"></app-header>
<div class="viewport-height">
    <router-outlet></router-outlet>
</div>
<!-- Footer Section -->
<!-- <div class="d-flex" class="footer">
    <div class="d-flex justify-content-between">
        <div class="col-12 col-sm-6 ml-1">
            Copyright &copy; AFNIC | Powered by Beyontec
        </div>
        <div class="col-12 col-sm-6  mr-1">
            CALL 800 AFNIC or email us to : callcenter@fujinsco.ae
        </div>
    </div>
</div> -->
<!-- Footer Section -->
<div class="d-flex" class="footer">
    <div class="row p-0 m-0 justify-content-between">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 col-12 small-txt">
            Copyright &copy; AFNIC | Powered by Beyontec
        </div>
        <div class="right-align col-lg-7 col-md-12 col-sm-12 col-xs-12 col-12 small-txt">
            CALL 800 AFNIC or email us to : callcenter@fujinsco.ae
        </div>
    </div>
</div>