::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #01785a;
   color: white;
}

  .container {
    display: flex;
    flex-direction: column;
    min-height: 78vh;
    justify-content: center;
    width: 100%;
}
.custom-bg {
    background-image: linear-gradient(to right, #58BB8B 40%, #6FE289);
    margin: 8px;
    height: 40px;
    padding: 10px;
    border-radius: 25px;
}

.border-block {
    border-right-style: solid;
    border-right-color: lightgrey;
    border-right-width: medium;
}

ng-value-icon{
    display: hidden!important;
}
.custom{
margin-top: 5px;
}

.comp-header {
    background: #01785a 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    text-align: center;
}

.horizontal-line {
    border: 2px solid #01785a;
}

.zero-pad {
    padding: 0px;
}

.label-pad {
    padding-top: 4%;
}

.fw900 {
    font-weight: 900;
}

.mat-card {
    padding: 8px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    display: inline-block;
    padding: 4px 15px;
    height: 25px;
}


::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
    display: block;
    height: auto;
    box-sizing: border-box;
    max-height: 170px !important;
    overflow-y: auto;
}

// Scroll table
tbody {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}