<div class="mx-3">
    <mat-card class="my-1">
        <div class="row"> 
        <div class="col-md-4 fbold">Product Type: {{ basicDetails['productName']}}</div>
        <div class="col-md-4 fbold">Mobile No: {{basicDetails['mobileCode']}} - {{basicDetails['mobileNo']}}</div>
        <div class="col-md-4 fbold">Email: {{ basicDetails['email']}}</div>
    </div>
    </mat-card>
    <div class="row">
        <div class="fwhite  zero-pad comp-header col-md-2 col-sm-5 col-12">
            <label class="label-pad f12 fw900">{{'Mulkiya' | translate }}</label>
        </div>
        <div class="zero-pad col-md-10 col-sm-7 col-0">
            <hr class="horizontal-line" />
        </div>
    </div>
    <app-vehicle [vehicleDetails]="vehicleDetails" (vehicleInfoEmitter)="checkForm($event)" [vehicleFormStatus]="vehicleFormStatus"></app-vehicle>
    <div class="row">
        <div class="fwhite  comp-header zero-pad col-md-2 col-sm-5 col-12">
            <label class="label-pad f12 fw900">{{'EmiratesId' | translate }}</label>
        </div>
        <div class="zero-pad col-md-10 col-sm-7 col-0">
            <hr class="horizontal-line" />
        </div>
    </div>
    <app-insurer-info [insuredDetails]="insuredDetails" (insurerInfoEmitter)="checkForm($event)" [insuredFormStatus]="insuredFormStatus"></app-insurer-info>
    <div class="row">
        <div class="fwhite comp-header zero-pad col-md-2 col-sm-5 col-12">
            <label class="label-pad  f12 fw900">{{'DrivingLicense' | translate }}</label>
        </div>
        <div class="zero-pad col-md-10 col-sm-7 col-0">
            <hr class="horizontal-line" />
        </div>
    </div>
    <app-driver-license-details [driverDetails]="driverDetails" (driverInfoEmitter)="checkForm($event)" [driverFormStatus]="driverFormStatus">
    </app-driver-license-details>
    <div style="margin-left: 90%;">
        <p class="m-0 fgreen fbold">STEP 2/2 </p>
</div>
    <div class="row justify-content-end">
        <button type="button" class="btn blockbutton btn-block col-md-2  bggreen fwhite button"
            (click)="doValidateForms()">{{'Continue' | translate }}</button>
    </div> 
</div>