<div class="row loginBg ">
    <div class="col-12 col-xs-12  col-sm-6  col-md-7  col-lg-9 app-highlight loginimage mt-2">
        <div class="row m-2 p-3">
            <div class="fgreen mx-auto headFtSize">
                {{ 'GetYourQuote' | translate }}
            </div>
        </div>
        <hr class="hr-line">
        <div class="py-5 my-4 mx-auto ">
            <form [formGroup]="infoForm" (ngSubmit)="getMotorInfo()" focusInvalidInput autocomplete="off" class="m-4">
                <div class="my-4 mx-0">
                    <div class="row radiocenter m-4">
                        <mat-radio-group formControlName="productType" (change)="selectOption($event)">
                            <mat-radio-button class="m-2" *ngFor="let product of options['products']" [value]="product.value">{{product.label}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="radioError" class="centercss">
                        <mat-error>{{'ProductType'| translate}} {{'IsRequired' | translate }}</mat-error>
                    </div>
                </div>
                <div class="row m-2 d-flex justify-content-center">
                    <div class="row col-lg-3 col-md-12 col-sm-12 col-xs-12 col-12 m-0 p-0">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 col-5 px-0">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="mobileCode">
                                    <mat-option *ngFor="let code of options.mobileCode" [value]="code.value">
                                        {{ code.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 col-7 pl-0">
                            <mat-form-field appearance="outline">
                                <mat-label>{{ 'MobileNoLabel' | translate }}</mat-label>
                                <input matInput placeholder="{{ 'PlaceHolder.MobileNo' | translate }}" formControlName="mobileNo" required maxlength="7" NumbersOnly>
                                <mat-error *ngIf="formCtrls.mobileNo.errors && formCtrls.mobileNo.errors.required">
                                    {{ 'Required.MobileNo' | translate }} </mat-error>
                                <mat-error *ngIf="formCtrls.mobileNo.errors && formCtrls.mobileNo.errors.minlength">
                                    {{ 'MobileNoLength' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 col-12 pl-0">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'EmailLabel' | translate }}</mat-label>
                            <input matInput placeholder="{{ 'PlaceHolder.Email' | translate }}" formControlName="email" required>
                            <mat-error *ngIf="formCtrls.email.errors && formCtrls.email.errors.email">
                                {{ 'EmailFormat' | translate }}</mat-error>
                            <mat-error *ngIf="formCtrls.email.errors && formCtrls.email.errors.required">
                                {{ 'Required.Email' | translate }} </mat-error>
                            <mat-error *ngIf="invalidEmail && formCtrls.email.errors">
                                Email address is aldready exist</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-center mt-4 ">
                    <button type="submit" class="col-md-3 col-sm-4 col-xs-10 col-10 btn blockbutton btn-block bggreen fwhite button roundedbtn">
                        {{ 'Continue' | translate }}
                    </button>
                </div>
            </form>
            <div class="centercss mt-4">
                <a class="f14 textGreen" (click)="retrieveQuote('Retrieve Quote', 'Quote No')">Retrieve Quote</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-xs-12  col-sm-6  col-md-5 col-lg-3  mat-elevation-z1" id="loginForm">
        <div class="login-form">
            <div class="mx-auto img-container mt-1">
                <img src="./assets/home/AFNIC_Logo.png" alt="" />
            </div>

            <!-- Login Form -->
            <form class="pt-4" [formGroup]="LoginForm" focusInvalidInput autocomplete="off" *ngIf="formType=='new-login'">
                <div class="LoginFtSize centercss mb-3">{{'LoginTo' | translate }}</div>
                <mat-form-field class="m-1" appearance="outline">
                    <mat-label>{{'UsernameLabel' | translate }}</mat-label>
                    <input matInput placeholder="{{'PlaceHolder.Username' | translate }}" formControlName="userName">
                    <mat-icon matSuffix>perm_identity &nbsp;&nbsp;</mat-icon>
                    <mat-error *ngIf="LoginForm.controls.userName.hasError('required')">
                        {{'Required.Username' | translate }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-1" appearance="outline">
                    <mat-label>{{'PasswordLabel' | translate }}</mat-label>
                    <input matInput id="myInput" type="password" placeholder="{{'PlaceHolder.Password' | translate }}" formControlName="password">
                    <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput')">visibility &nbsp;&nbsp;
                    </mat-icon>
                    <mat-error *ngIf="LoginForm.controls.password.hasError('required')">
                        {{'Required.Password' | translate }}
                    </mat-error>
                </mat-form-field>
                <div *ngIf="runtimeConfig.Environment != 'QC'">
                    <div class="row d-flex justify-content-center captcharesize">

                        <ngx-recaptcha2 matInput #captchaElem siteKey="{{runtimeConfigService.config.siteKey}}" [useGlobalDomain]="false" [size]="size" [hl]="lang" [theme]="theme" [type]="type" formControlName="recaptcha" (success)="handleSuccess($event)">
                        </ngx-recaptcha2>
                    </div>

                    <p class="error-message" *ngIf="isValidForm">Captcha is required</p>
                </div>
                <div class="centercss mt-2">
                    <button type="submit" class="col-md-6 col-sm-6 col-xs-10 col-10 btn btn-block  bggreen fwhite button roundedbtn" (click)="submitForm()">{{'Login' | translate }}</button>
                </div>
                <div class="mt-4 ml-1 centercss" (click)="ForgotNavigate()" style="text-decoration: underline;">
                    <a class="f14 textGreen">{{'ForgotPassword' | translate }}</a>
                </div>
            </form>

            <!-- Forgot Password Form-->
            <div *ngIf="formType==='forgotPwd'">
                <div class="ml-4">
                    <div class="f20 centercss">{{'ResetPassword' | translate }}</div>
                    <form class="customform pt-4" [formGroup]="ForgotForm" focusInvalidInput autocomplete="off" id="ForgotForm">
                        <mat-form-field appearance="outline" class="ml-4 col-md-10">
                            <mat-label>{{'EmailLabel' | translate }}</mat-label>
                            <input matInput placeholder="{{'PlaceHolder.Email' | translate }}" formControlName="email" #emaild>
                            <mat-icon matSuffix>email &nbsp;&nbsp; </mat-icon>
                            <mat-error *ngIf="ForgotForm.controls.email.errors && ForgotForm.controls.email.hasError('required')">
                                {{'Required.Email' | translate }}
                            </mat-error>
                            <mat-error *ngIf="ForgotForm.controls.email.errors && ForgotForm.controls.email.errors.email">
                                {{'EmailFormat' | translate }}</mat-error>
                        </mat-form-field>
                        <div *ngIf="isResetLinkSend" class="ml-4 col-md-10 centertext fgreen p-1" style="background-color: #D3D3D3;">
                            We've sent you an OTP. Check your email and enter below
                        </div>
                        <mat-form-field class="mt-2 ml-4 col-md-10" appearance="outline" *ngIf="isResetLinkSend">
                            <mat-label>{{'Otp' | translate }}</mat-label>
                            <input id="myInput" type="password" matInput placeholder="Enter OTP" formControlName="otp" autocomplete="new-password">
                            <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput')">
                                visibility &nbsp;&nbsp;
                            </mat-icon>

                            <mat-error *ngIf="ForgotForm.controls.otp.hasError('required')">
                                {{'Required.Otp' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <div class="col-md-10 ml-4" *ngIf="isResetLinkSend">
                            <div>OTP Expires in {{minutes}}m:{{seconds}}s</div>
                        </div>
                        <div class="d-flex justify-content-center mt-3" *ngIf="!isResetLinkSend">
                            <button (click)="forgotPwd()" type="submit" class="col-md-3 col-sm-4 col-xs-10 col-10 btn btn-block  bggreen fwhite button roundedbtn">{{ 'RESET' | translate }}</button>
                        </div>
                        <div class="d-flex flex-row-reverse mt-2" *ngIf="isResetLinkSend">
                            <button (click)="forgotPwd()" type="submit" class="btn  bggreen fwhite button roundedbtn">Resend OTP?</button>
                            <button (click)="verifyFPOTP()" type="submit" class="mr-1 btn bggreen fwhite button roundedbtn">{{'Submit' | translate }}</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Reset Password Form-->
            <div *ngIf="formType==='resetPassword'">
                <div>
                    <div class=" signup-form">
                        <div class="row ml-2">
                            <form *ngIf="!showPassword" class="pt-4 ml-3 col-md-11" [formGroup]="OtpForm" focusInvalidInput autocomplete="off">
                                <div class="centertext fgreen p-1" style="background-color: #D3D3D3;">
                                    <div>We've sent you an OTP. Check your email and enter below
                                    </div>
                                </div>
                                <mat-form-field class="mt-2" appearance="outline">
                                    <mat-label>{{ 'EmailLabel' | translate }}</mat-label>
                                    <input matInput readonly formControlName="email">
                                </mat-form-field>
                                <mat-form-field class="mt-2" appearance="outline">
                                    <mat-label>{{'Otp' | translate }}</mat-label>
                                    <input id="myInput" type="password" matInput placeholder="Enter OTP" formControlName="otp">
                                    <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput')">
                                        visibility &nbsp;&nbsp;
                                    </mat-icon>

                                    <mat-error *ngIf="OtpForm.controls.otp.hasError('required')">
                                        {{'Required.Otp' | translate }}
                                    </mat-error>
                                </mat-form-field>
                                <div class="d-flex justify-content-between">
                                    <div>OTP Expires in {{minutes}}m:{{seconds}}s</div>
                                </div>
                                <div class="d-flex flex-row-reverse mt-2">
                                    <button *ngIf="!showPassword" (click)="getOtp()" type="submit" class="btn  bggreen fwhite button roundedbtn">Resend OTP?</button>
                                    <button (click)="submitOtpForm()" type="submit" class="mr-1 btn bggreen fwhite button roundedbtn">{{'Submit' | translate }}</button>
                                </div>



                            </form>



                            <form *ngIf="showPassword" class="pt-4" [formGroup]="PasswordForm" focusInvalidInput autocomplete="off">

                                <mat-form-field appearance="outline">
                                    <mat-label>{{'Username' | translate }}</mat-label>
                                    <input matInput formControlName="userName">
                                    <mat-error *ngIf="PasswordForm.controls.userName.hasError('required')">
                                        {{'Required.userName' | translate }}
                                    </mat-error>
                                </mat-form-field>


                                <mat-form-field class="mt-2" appearance="outline">
                                    <mat-label>{{'PasswordLabel' | translate }}</mat-label>
                                    <input id="myInput" type="password" matInput placeholder="Enter Password" formControlName="password" autocomplete="new-password">
                                    <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput')">
                                        visibility &nbsp;&nbsp;
                                    </mat-icon>

                                    <mat-error *ngIf="PasswordForm.controls.password.hasError('required')">
                                        {{'Required.Password' | translate }}
                                    </mat-error>
                                </mat-form-field>



                                <mat-form-field class="mt-2" appearance="outline">
                                    <mat-label>{{'ConfirmPasswordLabel' | translate }}</mat-label>
                                    <input id="myInput1" type="password" matInput placeholder="Enter Confirm Password" formControlName="confirmPassword" autocomplete="new-password">
                                    <mat-icon class="custom-cursor" matSuffix (click)="showHidePwd('myInput1')">
                                        visibility &nbsp;&nbsp;
                                    </mat-icon>

                                    <mat-error *ngIf="PasswordForm.controls.confirmPassword.hasError('required')">
                                        {{'Required.ConfirmPassword' | translate }}
                                    </mat-error>


                                    <mat-error *ngIf="PasswordForm.controls.confirmPassword.hasError('passwordsNotMatch')">
                                        Password does not match
                                    </mat-error>
                                </mat-form-field>


                                <div class="d-flex justify-content-center mt-2">
                                    <button (click)="resetPwd()" type="submit" class="btn  bggreen fwhite button roundedbtn">{{'Submit' | translate }}</button>
                                </div>
                            </form>
                        </div>
                        <br>
                        <div class="row">
                            <ul>
                                <li *ngFor="let List of PwdSopList;let i=index">
                                    {{List}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>