<div class="container-fluid row  align-items-between m-0 p-0 stepperTop" style="height: 87%;">
    <div class="col-lg-8 col-md-7 col-sm-7 mt-3">
        <div class="row" *ngIf="showHeader">
            <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-7 headfont">
                <span *ngIf="!isAttachmentArea">{{'AdditionalDetails' | translate }}</span>
                <span *ngIf="isAttachmentArea">{{'Attachments' | translate }}</span>
            </div>
            <div class="col-6 col-xs-6 col-sm-6  col-md-6 col-lg-5 headfont txt-color-blue">
                {{ quoteNo }}
            </div>
        </div>
        <hr class="thick-line" *ngIf="showHeader" />
        <mat-horizontal-stepper #stepper (selectionChange)="onStepperSelectionChange($event)">
            <mat-step>
                <!-- <div class="success-content" style="margin-left: 22%;"> -->

                <div class="success-content" [ngClass]="{enstyle :language=='en',arstyle :language=='ar'}">
                    <i class="far fa-check-circle fa-5x bg-color"></i>
                    <div>
                        <b class="mt-2">{{ 'success'| translate}}</b>
                        <div class="m-4">
                            <p class="mb-1"> {{'thanksFor' | translate }}</p>
                            <p class="mb-1"> {{'YourQuote' | translate }} "{{quoteNo}}" {{'generated' | translate }}
                            </p>
                            <p class="mb-1"> {{'YourEmail' | translate }}</p>
                        </div>
                        <div class="text-color">
                            Interested in our Quote? Click <strong> Purchase Policy</strong> to buy our Policy
                        </div>


                        <!-- <button type="button" class="btn button btn-default bggreen fwhite"
                        (click)="openDialogs(stepper)">
                        {{'PurchasePolicy' | translate }}
                      </button> -->
                        <button type="button" class="btn button btn-default bggreen fwhite mt-3" matStepperNext (click)="doContinue('0')">{{'PurchasePolicy' | translate }}</button>

                    </div>
                    <div class="mt-4">
                        <div class="fullwidth">
                            <div class="columns">
                                <img class="mx-3 mt-2 custom-cursor" src="./assets/icon1.png" (click)="downloadDocuments()" />
                                <p>{{'DownloadDocument' | translate }}</p>
                            </div>
                            <div class="columns">
                                <img class="mx-3 mt-2 custom-cursor" src="./assets/icon2.png" (click)="sendMail()" />
                                <p>{{'SendEmail' | translate }}</p>
                            </div>
                            <div class="columns">
                                <img class="mx-3 mt-2 custom-cursor" src="./assets/icon3.png" (click)="printDocument()" />
                                <p>{{'PrintDocument' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-step>

            <mat-step>
                <div class="row mb-4 ml-3" style="width: 100%;">
                    <div class=" p-4 d-none d-lg-block col-lg-4 custom-bg pb-0" [ngClass]="{entextalign :language=='en',artextalign :language=='ar'}">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'ChasisNo'| translate }}</label>
                                <div class="value-field"> {{ quoteDetails?.vehicleDetails?.chassisNo}}</div>
                            </div>
                        </div>
                        <hr class="mt-2 dotted-line" />
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'TCNO'| translate }}</label>
                                <div class="value-field">{{quoteDetails?.vehicleDetails?.tcFileNumber}}</div>
                            </div>
                        </div>
                        <hr class="mt-2 dotted-line" />

                        <div class="row">
                            <div class="col-md-12  col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'RegisteredAt'| translate }}</label>
                                <div class="value-field">{{quoteDetails?.vehicleDetails?.regCityDesc}}</div>
                            </div>
                        </div>
                        <hr class="mt-2 dotted-line" />
                        <div *ngIf="quoteDetails?.vehicleDetails?.repairName">
                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                    <label class="label-field">{{'RepairType'| translate }}</label>
                                    <div class="value-field">{{quoteDetails?.vehicleDetails?.repairName}}</div>
                                </div>
                            </div>
                            <hr class="mt-2 dotted-line" />
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'NoOfPassengersLabel'| translate }}</label>
                                <div class="value-field">{{quoteDetails?.vehicleDetails?.noOfPassengers}}</div>
                            </div>
                        </div>

                        <hr class="mt-2 dotted-line" />
                        <div *ngIf="quoteDetails?.vehicleDetails?.regStatusDesc != 'New'">
                            <div class="row mt-4">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                    <label class="label-field">{{'RegistrationType'| translate }}</label>
                                    <div class="value-field">{{quoteDetails?.vehicleDetails?.regStatusDesc}}</div>
                                </div>
                            </div>
                            <hr class="mt-2 dotted-line" />
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'MakeYear'| translate }}</label>
                                <div class="value-field">{{quoteDetails?.vehicleDetails?.makeYear}}</div>
                            </div>

                        </div>
                        <hr class="mt-2 dotted-line" />
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'VehicleUsageLabel'| translate }}</label>
                                <div class="value-field">{{quoteDetails?.vehicleDetails?.usageDescription}}</div>
                            </div>
                        </div>

                        <hr class="mt-2 dotted-line" />
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'NCDLabel'| translate }}</label>
                                <div class="value-field" *ngIf="quoteDetails?.vehicleDetails?.ncdYearsDesc">
                                    {{quoteDetails?.vehicleDetails?.ncdYearsDesc}}</div>
                                <div class="value-field" *ngIf="!quoteDetails?.vehicleDetails?.ncdYearsDesc">0</div>
                            </div>

                        </div>
                        <hr class="mt-2 dotted-line" />
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                                <label class="label-field">{{'Trim'| translate }}</label>
                                <div class="value-field">{{quoteDetails?.vehicleDetails?.trim}}</div>
                            </div>
                        </div>
                        <hr class="mt-2 dotted-line" />
                    </div>


                    <div class="col-lg-8 col-md-12 p-0">
                        <form [formGroup]="additionalDetails" focusInvalidInput autocomplete="off">
                            <div>
                                <div>
                                    <div class="f18 col-md-12 mt-05 mb-1">{{'adtlVehicleDetails'| translate }}</div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-md-6">

                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'VehicleColor' |translate }}</mat-label>
                                            <input type="text" matInput formControlName="colorId" [matAutocomplete]="colorField" required>
                                            <mat-error *ngIf="formCtrls.colorId.errors && formCtrls.colorId.errors.required">
                                                {{'Required.VehicleColor' | translate }}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-autocomplete #colorField="matAutocomplete" (optionSelected)="dropDownSelected($event, 'color')">
                                            <mat-option *ngFor="let color of filteredColors | async" [value]="color.label">
                                                {{color.label}}</mat-option>
                                        </mat-autocomplete>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'NoofDoorsLabel'| translate }}</mat-label>
                                            <input matInput placeholder="{{'PlaceHolder.NoofDoors'| translate }}" required formControlName="noOfDoors" NumbersOnly maxlength="2">
                                            <mat-error *ngIf="additionalDetails.controls.noOfDoors.hasError('required')">
                                                {{'Required.NoofDoors'| translate }}
                                            </mat-error>
                                            <mat-error *ngIf="additionalDetails.controls.noOfDoors.hasError('min')">
                                                {{'MinDoor'| translate }}
                                            </mat-error>
                                            <mat-error *ngIf="additionalDetails.controls.noOfDoors.hasError('max')">
                                                {{'MaxDoor'| translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
<!---->
                                <div class="row px-3" *ngIf="QuestionnaireStatusShow">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Questionnaire</mat-label>
                                                <mat-select required formControlName="questionnaire"  (ngModelChange)="questionnaireStatusChange($event)" >
                                                <mat-option *ngFor="let questionnaireStatus of options.questionnaire" [value]="questionnaireStatus.value">
                                                    {{ questionnaireStatus.label }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!---->

                                <!-- <div class="row px-3" *ngIf="quoteDetails?.vehicleDetails?.regStatusDesc != 'New'"> -->
                                    <div class="row px-3" >
                                    <div class="col-md-6">
                                        <div *ngIf="questionnaireStatus" class="mdc-text-field-helper-text"aria-hidden="false" class="txt-color-blue pb-1">* Previous owner Registration number</div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'RegistrationNo'| translate }}</mat-label>
                                            <input matInput placeholder="{{'PlaceHolder.RegistrationNo'| translate }}" [required]="RegistrationNoRequired" formControlName="regNo" NumbersOnly maxlength="5" (change)="registrationNoChange($event)">
                                            <mat-error *ngIf="formCtrls.regNo.errors && formCtrls.regNo.errors.required">
                                                {{'Required.RegistrationNo'| translate }}
                                            </mat-error>
                                            
                                        </mat-form-field>
                                       
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <mat-form-field appearance="outline">
                                            <mat-label>{{'PlateCode'| translate }}</mat-label>
                                            <mat-select required formControlName="registrationMark">
                                                <mat-option *ngFor="let code of options.plateCode" [value]="code.value">
                                                    {{ code.label }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="additionalDetails.controls.registrationMark.hasError('required')">
                                                {{'Required.PlateCode'| translate }}
                                            </mat-error>
                                        </mat-form-field> -->
                                        <div  *ngIf="questionnaireStatus" class="mdc-text-field-helper-text"aria-hidden="false" class="txt-color-blue pb-1">* Previous owner Plate code</div>

                                        <mat-form-field appearance="outline">
                                            
                                            <mat-label>{{'PlateCode' |translate }}</mat-label>
                                            <input type="text" matInput formControlName="registrationMark" [required]="RegistrationMarkRequired"  [matAutocomplete]="plateCodeField">
                                            <mat-error *ngIf="formCtrls.registrationMark.errors && formCtrls.registrationMark.errors.required">
                                                {{'Required.PlateCode' | translate }}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-autocomplete #plateCodeField="matAutocomplete" (optionSelected)="dropDownSelected($event, 'plateCode')">
                                            <mat-option *ngFor="let plateCode of filteredPlateCodes | async" [value]="plateCode.label">
                                                {{plateCode.label}}</mat-option>
                                        </mat-autocomplete>
                                    </div>
                                </div>

                                <div class="row px-3">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'EngineNo'| translate }}</mat-label>
                                            <input matInput placeholder="{{'PlaceHolder.EngineNo'| translate }}" formControlName="engineNo" maxlength="30" [AlphaNumericOnly]="true">
                                        </mat-form-field>

                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Policy Start Date</mat-label>
                                            <input matInput placeholder="Policy Start Date" [owlDateTime]="effectiveDate" [owlDateTimeTrigger]="effectiveDate" formControlName="effectiveDate" required [min]="today" [max]="maxEffectiveDate">
                                            <owl-date-time #effectiveDate [pickerType]="'calendar'" [startView]="'multi-years'"></owl-date-time>
                                            <mat-icon class="custom-cursor" matSuffix [owlDateTimeTrigger]="effectiveDate">
                                                date_range</mat-icon>
                                            <mat-error *ngIf="additionalDetails.controls.effectiveDate.hasError('required')">
                                                Policy Start Date is required
                                            </mat-error>
                                            <mat-error *ngIf="additionalDetails.controls.effectiveDate.hasError('owlDateTimeMin')">
                                                Policy Start Date can't be less than current Date</mat-error>
                                            <mat-error *ngIf="additionalDetails.controls.effectiveDate.hasError('owlDateTimeMax')">
                                                Policy Start Date can't be greater than 30 Days</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'VehicleFinancedLabel'| translate }}</mat-label>
                                            <mat-select required formControlName="mortgagedYN" (ngModelChange)="financeStatusChange($event)">
                                                <mat-option *ngFor="let financeStatus of options.financed" [value]="financeStatus.value">
                                                    {{ financeStatus.label }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formCtrls.mortgagedYN.errors && formCtrls.mortgagedYN.errors.required">
                                                {{'Required.VehicleFinanced'| translate }} </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6" *ngIf="showBankField">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'BankNameLabel' |translate }}</mat-label>
                                            <input type="text" matInput formControlName="bankName" [matAutocomplete]="auto" required>
                                            <mat-error *ngIf="formCtrls.bankName.errors && formCtrls.bankName.errors.required">
                                                {{'Required.BankName' | translate }}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="dropDownSelected($event, 'bankName')">
                                            <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.label">
                                                {{bank.label}}</mat-option>
                                        </mat-autocomplete>
                                    </div>
                                </div>
                                <div>
                                    <div class="f18 col-md-12 mb-1"> {{'adtlInsuredDetails' | translate }}</div>
                                </div>
                                <!-- <div class="f18 col-md-12 mb-1">
                                    {{'adtlInsuredDetails' | translate }}
                                </div> -->
                                <div class="row px-3">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{ 'EmiratesIDLabel' | translate }}</mat-label>
                                            <input matInput placeholder="{{ 'PlaceHolder.EmiratesID' | translate }}" formControlName="personalId" required maxlength="15" NumbersOnly>
                                            <mat-error *ngIf="formCtrls.personalId.errors && formCtrls.personalId.errors.required">
                                                {{ 'Required.EmiratesID' | translate }}
                                            </mat-error>
                                            <mat-error *ngIf="formCtrls.personalId.errors && formCtrls.personalId.errors.minlength">
                                                {{ 'Required.EmiratesIDLength' | translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row px-3">
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5 col-5">
                                        <mat-form-field appearance="outline">
                                            <mat-select formControlName="prefixBL">
                                                <mat-option *ngFor="let prefix of options.prefix" [value]="prefix.value">
                                                    {{ prefix.label}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-7 col-7">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{ 'InsuredNameArabicLabel' | translate }}</mat-label>
                                            <input matInput placeholder="{{ 'PlaceHolder.InsuredNameArabic' | translate }} " formControlName="fullNameBL" required AlphabetOnly>
                                            <mat-error *ngIf=" formCtrls.fullNameBL.errors && formCtrls.fullNameBL.errors.required">
                                                {{ 'Required.InsuredNameArabic' | translate }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'TaxRegNo'| translate }}</mat-label>
                                            <input matInput formControlName="taxId" maxlength="15" placeholder="{{'PlaceHolder.TaxRegNo' | translate }}" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-md-6">

                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'Occupation' |translate }}</mat-label>
                                            <input type="text" matInput formControlName="occupation" [matAutocomplete]="occupationField" required>
                                            <mat-error *ngIf="formCtrls.occupation.errors && formCtrls.occupation.errors.required">
                                                {{'Required.Occupation' | translate }}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-autocomplete #occupationField="matAutocomplete" (optionSelected)="dropDownSelected($event, 'occupation')">
                                            <mat-option *ngFor="let occupation of filteredOccupation | async" [value]="occupation.label">
                                                {{occupation.label}}</mat-option>
                                        </mat-autocomplete>
                                    </div>
                                    <div class="col-md-6">

                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'Nationality' |translate }}</mat-label>
                                            <input type="text" matInput formControlName="nationality" [matAutocomplete]="nationalityField" required>
                                            <mat-error *ngIf="formCtrls.nationality.errors && formCtrls.nationality.errors.required">
                                                {{'Required.Nationality' | translate }}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-autocomplete #nationalityField="matAutocomplete" (optionSelected)="dropDownSelected($event, 'nationality')">
                                            <mat-option *ngFor="let nationality of filteredNationality | async" [value]="nationality.label">
                                                {{nationality.label}}</mat-option>
                                        </mat-autocomplete>
                                    </div>
                                </div>
                                <div class="row px-3">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'Address1' | translate}}</mat-label>
                                            <input matInput placeholder="{{'PlaceHolder.Address1' | translate}}" required formControlName="address1">
                                            <mat-error *ngIf="formCtrls.address1.errors && formCtrls.address1.errors.required">
                                                {{'Required.Address1' | translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'Address2' | translate}}</mat-label>
                                            <input matInput placeholder="{{'PlaceHolder.Address2' | translate}}" formControlName="address2">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row px-3">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'POBOXNo' | translate}}</mat-label>
                                            <input matInput placeholder="{{'PlaceHolder.PoBoX' | translate}}" formControlName="postBox" maxlength="6" NumbersOnly />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'EmiratesLabel' | translate}}</mat-label>
                                            <mat-select required formControlName="address4" (ngModelChange)="emiratesChange($event)">
                                                <mat-option *ngFor="let emirates of options.motor_emirate" [value]="emirates.value">
                                                    {{ emirates.label }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formCtrls.address4.errors && formCtrls.address4.errors.required">
                                                {{'Required.Emirates' | translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row px-3">

                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'City' | translate}}</mat-label>
                                            <mat-select required formControlName="city">
                                                <mat-option *ngFor="let city of options.city" [value]="city.value">
                                                    {{ city.label }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formCtrls.city.errors && formCtrls.city.errors.required">
                                                {{'Required.City' | translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{'Country' | translate}}</mat-label>
                                            <mat-select required formControlName="country" [disabled]="true">
                                                <mat-option *ngFor="let country of options.country" [value]="country.value">
                                                    {{ country.label }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formCtrls.country.errors && formCtrls.country.errors.required">
                                                {{'Required.Country' | translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-end mr-3">

                                <button type="submit" class=" pr-3 btn button btn-default bggreen fwhite" (click)="addAdditionalDetail(stepper)">{{'Continue' | translate}}</button>
                            </div>

                        </form>
                    </div>
                </div>
            </mat-step>

            <mat-step>
                <div class="col-md-12">
                    <form [formGroup]="DocUploadForm" focusInvalidInput autocomplete="off">
                        <div class="m-3 row" *ngFor="let container of fileContainer ; index as i">
                            <div class="upload-box col-lg-8 col-md-7 col-sm-7 col-xs-7 col-7 mt-2">
                                <label class="upload-label">{{ container.label}}</label>
                                <div class="upload-btn-wrapper">
                                    <input type="file" (change)="selectFile($event,container.id,i)" formControlName="{{ container.controlName }}" id="{{container.id}}" accept="image/*, .pdf" />
                                    <label class="placeFont mb-0 blue-font" (click)="openAttachment(container.value)">{{container.value}}</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 col-2 px-0 bor-box ml-1">
                                <img (click)="openDialog(container.id,i,container.label, container.controlName)" src="./assets/motor/insurer-details/camera.png" class="px-3 pt-2 img-fluid" />
                                <p class="px-0 f8 mb-0">Scan & Upload</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-2 px-0">
                                <img src="./assets/icon6.png" class="pl-1 pt-1 img-fluid" (click)="uploadTrigger.click()" />
                                <div class="upload-btn-wrapper2">
                                    <input type="file" (change)="selectFile($event ,container.id,i)" #uploadTrigger formControlName="{{ container.controlName }}" accept="image/*, .pdf" />
                                </div>
                            </div>
                            <p style="margin-top:2px;margin-left:4px" class="error-message mb-0" *ngIf="isAttachmentSubmitted && formCtrlsDoc[container.controlName]?.errors else elseBlock">
                                {{container.label}} is required</p>
                            <ng-template #elseBlock>
                                <p style="margin-top:2px" class="placeFont mb-0">{{ 'UplodadDisclaimer'| translate}}</p>
                            </ng-template>
                        </div>
                        <div *ngIf="!addMoreDoc" class="pl-4" (click)="addMoreDocuments()">
                            <p class="custom-cursor blue-font f16">+ {{ 'AddMoreDoc'| translate}}</p>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <button class="btn button btn-default bggreen fwhite" (click)="goBack(stepper)">{{'ReviseDetails' | translate }}</button>
                            <button type="submit" class="btn button btn-default bggreen fwhite" (click)="doNavigate($event)">{{'Continue' | translate }}</button>
                        </div>
                    </form>

                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-12 m-0 p-0">
        <app-general-info-template [generalDetails]="quoteDetails"></app-general-info-template>
    </div>
</div>