@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500");
th,
tr,
td {
    border-bottom: 1px solid #f4f3f8;
}

.Tr {
    border: 1px solid white;
}

.Tr td {
    border: 1px solid white;
}

.table thead tr {
    border: 10px solid white;
}

table {
    width: 100%;
}

.tab-head {
    background-color: #f1f1f1;
    // font-size:14px;
}

.hyperlink-click {
    color: blue;
    cursor: pointer;
}

.t-header {
    background-color: #f4f3f8 !important;
    vertical-align: middle;
    font-weight: 300;
    // font-size: 15px;
}

// td.mat-cell:first-of-type {
//     padding-left: 1.5rem;
// }
td.mat-cell {
    padding: 0.75rem 0;
    // font-size: 14px;
}

tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.Active {
    color: #fff;
    background: #007759;
    font-weight: 500;
    font-size: 15px;
    padding: 5px;
    border-radius: 25px;
}

.BadgeSpan {
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}