<div id="carouselExampleIndicators" class="carousel slide slider" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active min-vh-90">
      <img class="d-md-block w-100" src="./assets/home/sliderImage1.png">

      <div class="carousel-caption d-none d-md-block">


        <h5> {{ 'ChangeTheWay' | translate }} </h5>
        <p> {{ 'WeBelieveIn' | translate }} </p>
      </div>


    </div>
    <div class="carousel-item min-vh-90">
      <img class="d-block w-100" src="./assets/home/sliderImage1.png">
    </div>
    <div class="carousel-item min-vh-90">
      <img class="d-block w-100" src="./assets/home/sliderImage1.png">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="fa fa-chevron-circle-left fa-5x" aria-hidden="true"></i>

  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="fa fa-chevron-circle-right fa-5x" aria-hidden="true"></i>

  </a>
</div>

<div class="row business d-flex justify-content-center banner-nav">

  <div class="col-md-2 col-sm-2 col-12">
    <div [ngStyle]="{'background-color': selectedcard? '#337ab7' : '#ffffff'}" (click)=selectPlan(selectedcard)
      class="banner-nav-circle mx-auto">
      <img src="./assets/home/car-blue.png" *ngIf="!selectedcard" />
      <img src="./assets/home/car-white.png" *ngIf="selectedcard" style="max-width: 100px;max-height: 100px;" />
    </div>
    <p class="centertext pt-1">
      {{ 'MotorInsurance' | translate }}
    </p>
  </div>

  <!-- <div class="col-md-2 col-sm-4 col-12 ">
    <div class="banner-nav-circle mx-auto">
      <img src="./assets/home/home-blue.png">

    </div>
    <p class="centertext pt-1">
      {{ 'HomeInsurance' | translate }}
    </p>
  </div>


  <div class="col-md-2 col-sm-4 col-12 ">
    <div class="banner-nav-circle mx-auto">
      <img src="./assets/home/personal-accident.png">
    </div>
    <p class="centertext pt-1">
      {{ 'PersonalAccIns' | translate }}
    </p>
  </div>

  <div class="col-md-2 col-sm-4 col-12">
    <div class="banner-nav-circle mx-auto">
      <img src="./assets/home/income.png">
    </div>
    <p class="centertext pt-1">
      {{ 'IncomeAccIns' | translate }}
    </p>
  </div>

  <div class="col-md-2 col-sm-4 col-12">
    <div class="banner-nav-circle mx-auto">
      <img src="./assets/home/travel.png">
    </div>
    <p class="centertext pt-1">
      {{ 'TravelInsurance' | translate }}
    </p>

  </div> -->
</div>

<div class="banner-sub-nav" *ngIf="selectedcard">
  <button class="btn btn-home button fwhite bggreen mr-5 curve-btn same-btn"
    (click)="navigate('get-qoute','New-Quote')">
    {{ 'BuyOnline' | translate }}
  </button>
  <button class="btn  btn-home button fwhite bggreen curve-btn same-btn"
    (click)="openDialog('Retrieve Quote', 'Quote No')">
    {{ 'RetrieveQuote' | translate }}
  </button>
  <!-- <button class="btn btn-home button fwhite bggreen curve-btn same-btn"
    (click)="navigate('get-qoute','Renewal-Quote')">
    {{ 'RenewOnline' | translate }}
  </button> -->
  
</div>


<!-- <div class="homebg">

  <div class="lob ">
    <div class="row d-flex justify-content-center">

      <div class="col-md-2 col-sm-4 col-12">
        <div [ngStyle]="{'background-color': selectedcard? '#337ab7' : '#ffffff'}" (click)=selectPlan(selectedcard)
          class="banner-nav-circle mx-auto">
          <img src="./assets/home/car-blue.png" *ngIf="!selectedcard" />
          <img src="./assets/home/car-white.png" *ngIf="selectedcard" style="max-width: 100px;max-height: 100px;" />
        </div>
        <p class="centertext pt-1">
          {{ 'MotorInsurance' | translate }}
        </p>
      </div>

      <div class="col-md-2 col-sm-4 col-12 ">
        <div class="banner-nav-circle mx-auto">
          <img src="./assets/home/home-blue.png">

        </div>
        <p class="centertext pt-1">
          {{ 'HomeInsurance' | translate }}
        </p>
      </div>


      <div class="col-md-2 col-sm-4 col-12 ">
        <div class="banner-nav-circle mx-auto">
          <img src="./assets/home/personal-accident.png">
        </div>
        <p class="centertext pt-1">
          {{ 'PersonalAccIns' | translate }}
        </p>
      </div>

      <div class="col-md-2 col-sm-4 col-12">
        <div class="banner-nav-circle mx-auto">
          <img src="./assets/home/income.png">
        </div>
        <p class="centertext pt-1">
          {{ 'IncomeAccIns' | translate }}
        </p>
      </div>

      <div class="col-md-2 col-sm-4 col-12">
        <div class="banner-nav-circle mx-auto">
          <img src="./assets/home/travel.png">
        </div>
        <p class="centertext pt-1">
          {{ 'TravelInsurance' | translate }}
        </p>

      </div>
    </div>


    <div class="banner-sub-nav" *ngIf="selectedcard">
      <button class="btn btn-home button fwhite bggreen mr-5 curve-btn same-btn"
        (click)="navigate('get-qoute','New-Quote')">
        {{ 'BuyOnline' | translate }}
      </button>
      <button class="btn  btn-home button fwhite bggreen mr-5 curve-btn same-btn"
        (click)="openDialog('Retrieve Quote', 'Quote No')">
        {{ 'RetrieveQuote' | translate }}
      </button>
      <button class="btn btn-home button fwhite bggreen mr-5 curve-btn same-btn"
        (click)="navigate('get-qoute','Renewal-Quote')">
        {{ 'RenewOnline' | translate }}
      </button>
    </div>



  </div>




</div> -->